@import '../../shared.scss';
:host{
    display: block;
    background-color: $bgSecond;
    padding: .75rem;
}
.wrapper{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding: .175rem 0;
        
            .inside-list{
                font-size: .75rem;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.text-muted{
    color: $textGray;
    font-size: .9rem;
}

.height-scroll{

}